            embed, canvas{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }

            body{
                background-color: black;
                font-family: 'Signika Negative', sans-serif;
                user-select: none;
            }

            .hacked{
                text-align: center;
                color: red;
            }
            .hacked img{
                width: 450px;
                display: block;
                margin: 0 auto;
            }
            .hacked p{
                color: lime;
            }

            .soz{
                position: absolute;
                bottom: 15px;
                left: 0;
                right: 0;
                text-align: center;
                color: lavender;
            }

            button{
                background-image: linear-gradient(to left, #ff0000 100%, #fff 0%);
                background-repeat: no-repeat;
                background-size: 0% 5px;
                transition: 250ms all;
                background-size: 0%;
                border: none;
                outline: none;
                background-color: transparent;
                color: white;
                border-radius: 20px / 50px;
                box-shadow: 0px 0px 0px 2px #ff0000;
                padding: 10px;
                width: 150px;
            }
            button:hover{
                box-shadow: 0px -4px 50px 0px rgba(255, 0, 0, 1);
                background-size: 100%;
            }

            @media screen and (max-width: 800px){
                .hacked img{
                    width: 250px;
                }
            }
